@import 'normalize';

html, body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1040px;
  margin: auto;
}

.content {
  width: 100%;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  min-width: 320px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-tab {
  display: flex;
}

.form-side {
  min-width: 394px;
}

.form-row {
  display: flex;
  margin-bottom: 24px;

  &--two-inputs {
    justify-content: space-between;

    .input-label {
      max-width: 192px;
    }
  }

  &--divided-sides {
    justify-content: space-between;
  }
}

.input-label {

  width: 100%;
  max-width: 394px;

  &--exp-date {
    max-width: 158px;
  }

  &--cvv {
    max-width: 74px;
  }

  label {
    display: inline-block;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 4px;
    color: #999999;
  }

  input {
    &[type="email"] {
      background-image: url("../assets/mail_logo.svg");
      background-repeat: no-repeat;
      background-position-x: calc(100% - 10px);
      background-position-y: 10px;
      padding-right: 30px;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../assets/arrow_down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 16px;

    &::-ms-expand {
      display: none;
    }
  }
}

.input {
  &--standard {
    border: 1px solid #999999;
    background: transparent;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
    transition: all .3s ease-in-out;

    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  &--select {
    border: 1px solid #999999;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
    transition: all .3s ease-in-out;

    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  &--checkbox {

    & + label {
      position: relative;
      line-height: 16px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      padding-right: 2px;
      border: 1px solid transparent;

      .checkbox-square {
        border: 1px solid #999999;
        border-radius: 3px;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        box-sizing: border-box;
        position: relative;
        top: 2px;
      }
    }

    & + label::before {
      content: "";
      position: absolute;
      opacity: 0;
      width: 4px;
      height: 8px;
      left: 4px;
      top: 3px;
      border: solid #999999;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      transition: opacity .2s;
    }

    &:checked + label::before {
      opacity: 1;
    }

    &:focus + label {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }
}

.tab-btn {
  cursor: pointer;

  &.active {
    color: red;
  }
}

.form-section {

  &--personal-info {
    margin-bottom: 96px;
    .form-section__header {
      margin-bottom: 8px;
    }
  }

  &--billing-details {
    margin-bottom: 50px;
    .form-section__header {
      margin-bottom: 8px;
    }
  }

  &__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
  }

  &__sub-header {
    font-size: 14px;
  }
}

.tabs-wrapper {
  display: flex;
  padding-top: 38px;

  .tabs {
    /*flex-grow: 4;
    flex-basis: 800px;*/
    min-height: 300px;
    width: 80%;
  }

  .tabs-buttons {
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tab-btn {
    color: #999999;
    padding-left: 35px;
    transition: color .2s;
    position: relative;

    &.active {
      color: #333333;

      .form-tab__header::before {
        opacity: 0;
      }

      .form-tab__header::after {
        opacity: 1;
      }
    }

    &--standard {

      .form-tab__header::before {
        content: url("../assets/icon_truck.svg");
      }

      .form-tab__header::after {
        content: url("../assets/icon_truck_active.svg");
      }
    }

    &--express {
      .form-tab__header::before {
        content: url("../assets/icon_plane.svg");
      }

      .form-tab__header::after {
        content: url("../assets/icon_plane_active.svg");
      }
    }

    &--premium {
      .form-tab__header::before {
        content: url("../assets/icon_rocket.svg");
      }

      .form-tab__header::after {
        content: url("../assets/icon_rocket_active.svg");
      }
    }
  }

  .form-tab {
    display: none;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #DADADA;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);

    &__content {
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 15px;
      background-color: #ffffff;
      opacity: 0;
      padding: 20px 24px;
    }

    &::before {
      display: block;
      position: absolute;
      background-color: #ffffff;
      content: '';
      opacity: 0;
      width: 22px;
      height: 22px;
      transform: rotate(45deg);
      border-left: 1px solid #DADADA;
      border-bottom: 1px solid #DADADA;
      box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
      transition: opacity .2s;
    }

    &--standard::before {
      left: -12px;
      top: 17px;
    }

    &--express::before {
      left: -12px;
      top: 135px;
    }

    &--premium::before {
      left: -12px;
      top: 252px;
    }

    &.active {
      display: flex;

      .form-tab__content {
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }

    .form-side {
      flex-basis: auto;
      width: 50%;

      h4 {
        display: inline-block;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 8px;
        color: #999;
      }
    }

    &__header {
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        top: 2px;
        left: -35px;
        opacity: 1;
      }

      &::after {
        position: absolute;
        display: block;
        top: 2px;
        left: -35px;
        opacity: 0;
      }
    }

    &__subheader {
      display: block;
      font-size: 14px;
    }
  }
}

.payment-systems-wrapper {
  display: flex;
  width: 100%;
  max-width: 340px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-system-logo {

  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--square {
    width: 23.53%;
    padding-top: 23.53%;
  }

  &--horizontal {
    width: 100%;
    height: 50px;
  }

  &--ae {
    background-image: url("../assets/logo_american_express.svg");
  }

  &--mc {
    background-image: url("../assets/logo_mastercard.svg");
  }

  &--visa {
    background-image: url("../assets/logo_visa.svg");
  }

  &--discover {
    background-image: url("../assets/logo_discover.svg");
  }

  &--paypal {
    background-image: url("../assets/logo_paypal.svg");
  }

  &--amazon {
    background-image: url("../assets/logo_amazonpay.svg");
  }
}

.card-visual-wrapper {
  height:  200px;
  width: 100%;
  max-width:  370px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
  border-radius: 15px;
  padding: 20px 25px 0;

  .input-group {
    display: flex;
    justify-content: space-between;

    .input--card {
      max-width: 74px;
    }
  }
}

.button-wrapper {
  display: flex;
  flex-direction:  row-reverse;
}

.btn-submit-form {
  width: 300px;
  height: 60px;
  background: linear-gradient(10.65deg, #F57E80 0%, #D43535 119.64%);
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    pointer-events: none;
  }

  &::before {
    --size: 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }

  &:hover::before {
    --size: 400px;
  }
}

.input-wrapper {
  position: relative;
}

.focus-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.input--standard:focus ~ .focus-bg {
  transition: 0.5s;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media all and (max-width: 1000px){
  .content {
    padding-top: 20px;
  }

  .form-section--personal-info {
    margin-bottom: 40px;
  }

  .tabs-wrapper  {
    .form-tab__content {
      flex-direction: column;
    }

    .tabs {
      width: auto;
    }

    .form-tab .form-side {
      width: auto;
    }

    .form-tab--express::before {
      top: 244px;
    }

    .form-tab--premium::before {
      top: 466px;
    }
  }

  .payment-systems-wrapper {
    max-width: none;
  }

  .input-group {
    .input-wrapper .input--card {
      margin-right: 4px;
    }

    .input-wrapper:last-child .input--card {
      margin-right: 0;
    }
  }

  .form-tab--standard,
  .form-tab--premium {
    .form-tab__content {
      height: 508px;
    }
  }

  .form-group {
    flex-direction: column;
    max-width: 394px;
    margin: auto;
  }

  .form-side {
    min-width: auto;
  }
}

@media all and (max-width: 627px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabs-wrapper {
    flex-direction: column;

    .tabs-buttons {
      flex-direction: row;
      margin-bottom: 20px;
      min-width: auto;
      width: 100%;
    }

    .form-tab__header {
      font-size: 16px;
    }

    .form-tab__subheader {
      font-size: 12px;
    }

    .form-tab--express::before {
      top: -12px;
      left: calc(50% - 10px);
    }

    .form-tab--standard::before {
      left: 40px;
      top: -12px;
    }

    .form-tab--premium::before {
      top: -12px;
      right: 40px;
      left: auto;
    }
  }
}