@import 'normalize';

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  padding-top: 60px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-tab {
  display: flex;
}

.form-side {
  flex-basis: 394px;
}

.form-row {
  display: flex;
  margin-bottom: 24px;

  &--two-inputs {
    justify-content: space-between;
  }
}

.input-label {

  width: 100%;
  max-width: 394px;

  label {
    display: inline-block;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 4px;
    color: #999999;
  }

  input {
    &[type="email"] {
      background-image: url("../assets/mail_logo.svg");
      background-repeat: no-repeat;
      background-position-x: calc(100% - 10px);
      background-position-y: 10px;
      padding-right: 30px;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../assets/arrow_down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 16px;

    &::-ms-expand {
      display: none;
    }
  }
}

.input {
  &--standard {
    border: 1px solid #999999;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
  }

  &--select {
    border: 1px solid #999999;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
  }

  &--checkbox {
    display: none;

    & + label {
      line-height: 16px;
    }

    & + label::before {
      content: "\2714";
      border: 1px solid #999999;
      border-radius: 3px;
      display: inline-block;
      width: 15px;
      height: 15px;
      color: transparent;
      transition: color .2s;
      margin-right: 10px;
      box-sizing: border-box;
      padding-left: 1px;
    }

    &:checked + label::before {
      color: #999999;

    }
  }
}

.form-row {
  &--two-inputs {
    .input-label {
      max-width: 192px;
    }
  }
}

.tab-btn {
  cursor: pointer;

  &.active {
    color: red;
  }
}

.form-section {

  &--personal-info {
    margin-bottom: 96px;
  }

  &--personal-info {
    .form-section__header {
      margin-bottom: 8px;
    }
  }

  &--billing-details {
    .form-section__header {
      margin-bottom: 8px;
    }
  }

  &__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
  }

  &__sub-header {
    font-size: 14px;
  }
}

.tabs-wrapper {
  display: flex;
  padding-top: 38px;

  .tabs {
    flex-grow: 4;
    flex-basis: 800px;
    min-height: 295px;
  }

  .tabs-buttons {
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tab-btn {
    color: #999999;
    padding-left: 35px;
    transition: color .2s;
    position: relative;

    &.active {
      color: #333333;

      .form-tab__header::before {
        opacity: 0;
      }

      .form-tab__header::after {
        opacity: 1;
      }
    }

    &--standard {

      .form-tab__header::before {
        content: url("../assets/icon_truck.svg");
      }

      .form-tab__header::after {
        content: url("../assets/icon_truck_active.svg");
      }
    }

    &--express {
      .form-tab__header::before {
        content: url("../assets/icon_plane.svg");
      }

      .form-tab__header::after {
        content: url("../assets/icon_plane_active.svg");
      }
    }

    &--premium {
      .form-tab__header::before {
        content: url("../assets/icon_rocket.svg");
      }

      .form-tab__header::after {
        content: url("../assets/icon_rocket_active.svg");
      }
    }
  }

  .form-tab {
    display: none;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #DADADA;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);

    &__content {
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 15px;
      background-color: #ffffff;
      opacity: 0;

    }

    &::before {
      display: block;
      position: absolute;
      background-color: #ffffff;
      content: '';
      opacity: 0;
      width: 22px;
      height: 22px;
      transform: rotate(45deg);
      border-left: 1px solid #DADADA;
      border-bottom: 1px solid #DADADA;
      box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
      transition: opacity .2s;
    }

    &--standard::before {
      left: -12px;
      top: 17px;
    }

    &--express::before {
      left: -12px;
      top: 135px;
    }

    &--premium::before {
      left: -12px;
      top: 252px;
    }

    &.active {
      display: flex;

      & .form-tab__content {
        opacity: 1;
        transition: opacity 3s;
      }

      &::before {
        opacity: 1;
      }
    }

    .form-side {
      flex-basis: auto;
      width: 50%;

      h4 {
        display: inline-block;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        margin-bottom: 8px;
        color: #999;
      }
    }

    &__header {
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        top: 2px;
        left: -35px;
        opacity: 1;
      }

      &::after {
        position: absolute;
        display: block;
        top: 2px;
        left: -35px;
        opacity: 0;
      }
    }

    &__subheader {
      display: block;
      font-size: 14px;
    }
  }
}
