@import url(https://fonts.googleapis.com/css?family=Lato:700,900,300,400);

/*   Variables   */
@dark-blue: #0B1129;
@red: #c80e0e;

/*   Mixins   */
.font(@x; @y) {
  font-size: @x;
  line-height: @y;
}

/*   General   */

body {
  font-family: 'Lato', Helvetica, sans-serif;
  background-color: @dark-blue;
  border-radius: 5px;
  color: white;
}

/*   Navigation header   */

.navbar-wrapper {

  .navbar-inverse {
    background:rgba(255, 255, 255, 0.1);
    #navbar {
      background-color: rgba(0,0,0,0);
      position: relative;
      z-index: 999;
      &.collapse.in {
        background-color: #222222;
      }
      li {
        a {
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          &:hover {
            color: @red;
          }
        }
        &.active {
          a {
            background-color: transparent;
            color: @red;
          }
        }
      }
    }
  }

  .the-navbar {
    background-color: rgba(0,0,0,0);
    position:fixed;
    z-index: 999;
    width: 100%;

    .navbar-brand {
      position: fixed;
      z-index: 1000;
      top: 5px;
    }

    .the-blur{
      position: fixed;
      top:0;
      width: 100%;
      min-height: 50px;
      margin-bottom: 20px;
      background: rgba(0,0,0,.4);
      z-index: 888;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
    }

    button {
      z-index: 999;
    }
  }
}

/*   Bike section   */

#bike {
  background: url('../img/proride_image.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  .in-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .bike-text {
      .lead {
        .font(18px; 26px);
      }
    }
  }
  .contacts {
    position: absolute;
    bottom: 0;
    .font(15px; 26px);
    margin-bottom: 50px;

    .telephone,
    .address {
      height: 44px;
      position: relative;
      padding-left: 42px;
      background: url("../img/red-rhomb.png") top left no-repeat;
      &::before {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        content: " ";
      }
    }
    .telephone::before {
      background: url("../img/phone-icon.png") center center no-repeat;
      left: -1px;
    }
    .address::before {
      background: url("../img/location-icon.png") center center no-repeat;
      left: 0;
    }
    .address {
      span {
        color: @red;
      }
    }
  }

  .down-button {
    position: absolute;
    width: 48px;
    height: 23px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/arrow.png"), url("../img/red-traingle.png");
    background-position: center 10px, center;
    background-repeat: no-repeat;
  }
}
