@import url(https://fonts.googleapis.com/css?family=Lato:700,900,300,400);
body {
  font-family: 'Lato', Helvetica, sans-serif;
  background-color: #0B1129;
  border-radius: 5px;
}
/*   Bike section   */
#bike {
  background: url('../img/proride_image.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
}
