@import url(https://fonts.googleapis.com/css?family=Lato:700,900,300,400);
/*   ======Variables======   */
/*   ======Mixins======   */
.uppercase {
  text-transform: uppercase;
}
.transition {
  transition: all .4s;
}
/*   ======General======   */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a {
  font-family: 'Lato', Helvetica, sans-serif;
  color: white;
}
.not-front h1,
.not-front h2,
.not-front h3,
.not-front h4,
.not-front h5,
.not-front h6,
.not-front p,
.not-front span,
.not-front ul,
.not-front li,
.not-front a {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #212525;
}
h2 {
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
}
body {
  background-color: #0B1129;
}
p {
  margin-bottom: 0;
}
a:hover,
a:active {
  text-decoration: none;
}
h2.page-head {
  color: #212525;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 35px;
}
section.not-front {
  margin-top: 50px;
  padding-bottom: 60px;
  background-color: white;
  border-bottom: 3px solid #b21414;
  color: black;
}
/*   ======Navigation header======   */
.navbar-wrapper .navbar-inverse {
  background: rgba(255, 255, 255, 0.1);
  /* border: none;*/
  border-color: #484848;
}
.navbar-wrapper .navbar-inverse #navbar {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 999;
}
@media (max-width: 767px) {
  .navbar-wrapper .navbar-inverse #navbar {
    background-color: #222222;
  }
}
.navbar-wrapper .navbar-inverse #navbar li a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: all .4s;
}
.navbar-wrapper .navbar-inverse #navbar li a:hover {
  color: #c80e0e;
}
@media (max-width: 840px) and (min-width: 767px) {
  .navbar-wrapper .navbar-inverse #navbar li a {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.navbar-wrapper .navbar-inverse #navbar li.active a {
  background-color: transparent;
  color: #c80e0e;
}
.navbar-wrapper .navbar-inverse.not-blured {
  background-color: #0B1129;
}
.navbar-wrapper .navbar-inverse.not-blured #navbar.navbar-collapse {
  background-color: #0B1129;
}
.navbar-wrapper .the-navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 999;
  width: 100%;
}
.navbar-wrapper .the-navbar .navbar-brand {
  position: fixed;
  z-index: 1000;
  top: 5px;
}
.navbar-wrapper .the-navbar .the-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 888;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.navbar-wrapper .the-navbar button {
  z-index: 999;
}
/*   ======Bike section======   */
#bike {
  background: url('../img/main_back.jpg') center center no-repeat;
  background-size: cover;
  height: 670px;
  position: relative;
}
@media (min-width: 1023px) {
  #bike {
    height: 100vh;
  }
}
#bike .in-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
#bike .in-center .bike-text h1 {
  font-size: 42px;
  line-height: 50px;
}
#bike .in-center .bike-text .lead {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 600px) {
  #bike .in-center .bike-text h1 {
    font-size: 24px;
    line-height: 36px;
  }
  #bike .in-center .bike-text .lead {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  #bike .in-center {
    top: 36%;
  }
  #bike .in-center .main-button {
    bottom: -70px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}
#bike .main-button {
  display: block;
  position: absolute;
  width: 194px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  border: 3px solid #c80e0e;
  bottom: 100px;
  right: 0;
  transition: all .4s;
}
#bike .main-button:hover {
  color: white;
  background-color: #c80e0e;
}
@media (max-width: 770px) {
  #bike .main-button {
    margin-right: 20px;
  }
}
#bike .contacts {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 50px;
}
#bike .contacts .telephone,
#bike .contacts .address {
  height: 44px;
  position: relative;
  padding-left: 42px;
  background: url("../img/red-rhomb.png") top left no-repeat;
}
#bike .contacts .telephone::before,
#bike .contacts .address::before {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  content: " ";
}
#bike .contacts .telephone::before {
  background: url("../img/phone-icon.png") center center no-repeat;
  left: -1px;
}
#bike .contacts .address::before {
  background: url("../img/location-icon.png") center center no-repeat;
  left: 0;
}
#bike .contacts .address span {
  color: #c80e0e;
}
#bike .down-button {
  position: absolute;
  display: block;
  width: 48px;
  height: 23px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/arrow.png"), url("../img/red-traingle.png");
  background-position: center 10px, center;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  #bike .down-button {
    display: none;
  }
}
#bike .sticky-social {
  position: absolute;
  right: 0;
  bottom: 80px;
}
#bike .sticky-social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#bike .sticky-social ul li {
  margin: 0;
  padding: 0 0 0 5px;
  height: 25px;
  width: 70px;
  position: relative;
  left: 45px;
  background-color: #c80e0e;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
#bike .sticky-social ul li:hover {
  -webkit-transform: translateX(-45px);
      -ms-transform: translateX(-45px);
          transform: translateX(-45px);
}
#bike .sticky-social ul li:first-child {
  margin-bottom: 4px;
}
#bike .sticky-social ul li a {
  position: relative;
  color: white;
  display: inline-block;
  width: 100%;
}
#bike .sticky-social ul li a:hover {
  text-decoration: none;
}
#bike .sticky-social ul li a span {
  transition: opacity .4s;
}
#bike .sticky-social ul li a:before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  text-align: left;
  opacity: 0;
  transition: .4s, opacity .6s;
  content: attr(data-hover);
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
}
#bike .sticky-social ul li:hover a span {
  opacity: 0;
}
#bike .sticky-social ul li:hover a:before {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
/*   ======services section======   */
#services {
  background: url("../img/services_back.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 150px;
  border-bottom: 3px solid #c80e0e;
}
#services .services-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}
#services .services-header h3 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
#services .services-header p {
  font-size: 18px;
  line-height: 26px;
}
#services table.table.services-table {
  border-color: rgba(212, 212, 212, 0.2);
  /* border-collapse: separate;*/
}
#services table.table.services-table thead th {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  border: none;
}
#services table.table.services-table thead th:first-child {
  text-align: left;
}
#services table.table.services-table tbody tr:hover td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#services table.table.services-table tbody tr td {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(212, 212, 212, 0.2);
  border-top: 1px solid rgba(212, 212, 212, 0.2);
}
#services table.table.services-table tbody tr td a {
  transition: all .4s;
}
#services table.table.services-table tbody tr td a:hover {
  color: #c80e0e;
}
#services table.table.services-table tbody tr td:first-child {
  text-align: left;
}
/*   ======kudos section======   */
#kudos {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 3px solid #c80e0e;
}
#kudos h2 {
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}
#kudos p {
  color: #484848;
  text-align: center;
  font-size: 18px;
}
/*   ======sign-in section======   */
#sign-in {
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../img/ads_back.jpg") center center no-repeat;
  background-size: cover;
  border-bottom: 3px solid #c80e0e;
}
#sign-in h2 {
  text-align: left;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}
@media (max-width: 600px) {
  #sign-in h2 {
    font-size: 24px;
    line-height: 38px;
  }
}
#sign-in h2 span {
  color: #c80e0e;
}
#sign-in .button {
  text-align: center;
  padding-top: 16px;
}
#sign-in .button a {
  display: inline-block;
  width: 200px;
  border: 3px solid #c80e0e;
  background-color: transparent;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  transition: all .4s;
}
#sign-in .button a:hover {
  color: white;
  background-color: #c80e0e;
}
/*   ======our-team section======   */
#our-team {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
#our-team .our-team-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 64px;
}
#our-team .our-team-header h3 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #484848;
}
#our-team .our-team-header p {
  font-size: 18px;
  line-height: 26px;
  color: #484848;
}
#our-team .row {
  width: 90%;
  margin: auto;
}
#our-team .our-team-person {
  text-align: center;
  padding-right: 35px;
  padding-left: 35px;
}
@media (max-width: 767px) {
  #our-team .our-team-person {
    margin-top: 40px;
  }
  #our-team .our-team-person:first-child {
    margin-top: 0;
  }
}
#our-team .our-team-person img {
  display: inline-block;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
#our-team .our-team-person .name {
  color: #202525;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #c80e0e;
}
#our-team .our-team-person .name span {
  color: #202525;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  display: inline-block;
  margin-top: 4px;
  font-weight: 400;
}
#our-team .our-team-person .name-text {
  color: #484848;
  font-size: 16px;
  line-height: 22px;
  margin-top: 14px;
}
/*   ======news section======   */
#news {
  background-color: #0B1129;
  padding-top: 100px;
  padding-bottom: 70px;
  border-bottom: 3px solid #c80e0e;
}
#news .news-header {
  text-align: center;
  margin-bottom: 90px;
}
@media (max-width: 480px) {
  #news .news-header {
    margin-bottom: 60px;
  }
}
#news .news-header h3 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
#news .news-header p {
  font-size: 18px;
  line-height: 26px;
}
#news .news-array {
  /*width: 90%;
    margin-left: auto;
    margin-right: auto;*/
}
#news .news-array .col-sm-6 {
  margin-bottom: 40px;
}
#news .news-array img {
  display: inline-block;
  width: 28%;
  float: left;
}
#news .news-array .news-item-text {
  display: inline-block;
  float: right;
  width: 67%;
  height: 100px;
  padding-top: 10px;
}
@media (max-width: 991px) {
  #news .news-array .news-item-text {
    padding-top: 0;
  }
}
#news .news-array .news-item-text p {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  #news .news-array .news-item-text p {
    font-size: 12px;
    line-height: 16px;
  }
}
#news .news-array .news-item-text a span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all .4s;
}
#news .news-array .news-item-text a:hover span {
  color: #c80e0e;
}
#news .news-array .news-item-text > div {
  border-top: 2px solid rgba(180, 180, 180, 0.25);
  position: relative;
  bottom: -25px;
  padding-top: 3px;
}
#news .news-array-first {
  margin-bottom: 50px;
}
#news .all-news-button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #c80e0e;
  width: 200px;
  text-align: center;
  font-size: 15px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 62px;
  transition: all .4s;
}
#news .all-news-button:hover {
  color: #c80e0e;
  background-color: white;
  border-color: white;
}
/*   ====== footer ======   */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
}
@media (max-width: 991px) {
  footer .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  footer .container .row > div {
    margin-bottom: 20px;
    border: none;
  }
}
footer .telephones ul {
  list-style-type: none;
}
footer .telephones ul li {
  color: #484848;
  font-size: 15px;
  line-height: 26px;
  position: relative;
}
footer .telephones ul li::before {
  position: absolute;
  display: block;
  content: " ";
  width: 16px;
  height: 16px;
  left: -36px;
  top: 6px;
}
footer .telephones ul .vodafone::before {
  background: url("../img/vodafone_icon.png") center no-repeat;
}
footer .telephones ul .kievstar::before {
  background: url("../img/kyivstar_icon.png") center no-repeat;
}
footer .telephones ul .life::before {
  background: url("../img/life_icon.png") center no-repeat;
}
footer .address div {
  padding-top: 4px;
  color: #212525;
  font-size: 14px;
  line-height: 20px;
}
footer .address div span {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
footer .address a {
  color: #0053a4;
  font-size: 12px;
  display: inline-block;
  border-bottom: 1px dashed #0053a4;
  margin-top: 10px;
  min-width: 114px;
}
footer .navigation ul {
  width: 100%;
  list-style-type: none;
}
@media (max-width: 767px) {
  footer .navigation ul {
    padding: 0;
  }
}
footer .navigation ul li {
  display: inline-block;
  width: 49%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
@media (max-width: 767px) {
  footer .navigation ul li {
    width: 32%;
    padding-bottom: 6px;
  }
}
footer .navigation ul li a {
  color: #212525;
  transition: all .4s;
}
footer .navigation ul li a:hover {
  color: #c80e0e;
}
footer .social {
  text-align: center;
}
footer .social > div {
  text-align: center;
  color: #212525;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 767px) {
  footer .social > div {
    text-align: left;
  }
}
footer .social > div .our-groups {
  padding-bottom: 14px;
}
footer .social > div a {
  display: inline-block;
  color: white;
  background-color: #c80e0e;
  width: 70px;
  height: 25px;
  margin-bottom: 14px;
  text-align: center;
}
footer .social > div a span {
  font-size: 13px;
  font-weight: 400;
}
footer .logo {
  padding-top: 35px;
}
@media (max-width: 767px) {
  footer .logo {
    padding-top: 0;
  }
}
footer .logo .logo-footer {
  color: #484848;
  font-size: 15px;
  line-height: 25px;
  display: inline-block;
  min-width: 108px;
}
footer .logo .logo-footer a {
  color: #484848;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
footer .logo .logo-footer a span {
  color: #c80e0e;
}
footer .logo .logo-footer a::after {
  display: block;
  content: " ";
  position: absolute;
  width: 28px;
  height: 43px;
  background: url("../img/logo-2.png") left no-repeat;
  right: -34px;
  top: -12px;
}
@media (max-width: 991px) and (min-width: 767px) {
  footer .logo .logo-footer a::after {
    right: 40px;
    top: 23px;
  }
}
/*   ======Services page styles======   */
#services-inside .course-card {
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-bottom: 47px;
}
@media (min-width: 767px) {
  #services-inside .course-card {
    margin-left: 3%;
    width: 22%;
  }
  #services-inside .course-card:nth-child(4n+1) {
    margin-left: 0;
  }
}
@media (max-width: 766px) {
  #services-inside .course-card {
    margin-left: 15px;
    margin-right: 15px;
  }
}
#services-inside .course-card h3 {
  color: #3e4f6a;
  padding-top: 32px;
  padding-bottom: 26px;
  margin: 0;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#services-inside .course-card .course-price {
  background: linear-gradient(0deg, #364761 0%, #475975 100%);
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 42px;
}
#services-inside .course-card ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 44px;
}
#services-inside .course-card ul li {
  color: #979797;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 24px;
}
#services-inside .course-card ul li .accent {
  color: #3e4f6a;
}
#services-inside .course-card button {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #3e4f6a;
  font-weight: 700;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 90%;
  margin-bottom: 15px;
}
#services-inside .course-card:hover h3 {
  background: linear-gradient(0deg, #364761 0%, #475975 100%);
  color: white;
}
#services-inside .course-card:hover .course-price {
  background: #b21414;
}
#services-inside .course-card:hover button {
  background-color: #b21414;
  color: white;
}
/*   ======Motopark page styles======   */
@media (max-width: 767px) {
  #motopark h2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}
#motopark .bike-card {
  margin-bottom: 30px;
  /*border: 1px solid #eaeaea;*/
  /*padding-left: 0;
    padding-right: 0;*/
  /*@media (min-width: 767px) {
      margin-left: 4%;
      width: 46%;
      &:nth-child(2n+1){
        margin-left: 0;
      }
    }*/
}
#motopark .bike-card img {
  width: 100%;
  height: auto;
}
#motopark .bike-description {
  background-color: #0B1129;
  margin-left: 0;
  margin-right: 0;
}
#motopark .bike-model {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding-top: 28px;
  color: white;
}
@media (max-width: 767px) {
  #motopark .bike-model {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}
#motopark .description-text {
  margin-top: 16px;
  margin-bottom: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  #motopark .description-text {
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}
#motopark .description-text span {
  font-style: italic;
  font-size: 13px;
  line-height: 22px;
  color: #cccccc;
}
/*   ======Gallery page styles======   */
#gallery .gallery-item {
  position: relative;
  margin-bottom: 30px;
}
#gallery .gallery-item .gallery-item-text-left,
#gallery .gallery-item .gallery-item-text-right {
  color: white;
}
#gallery .gallery-item:hover .gallery-item-text-left,
#gallery .gallery-item:hover .gallery-item-text-right {
  opacity: 0;
}
#gallery .gallery-item:hover .red-hover {
  opacity: 0.8;
}
#gallery .gallery-item .red-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(220, 77, 81, 0.88);
  opacity: 0;
  z-index: 99;
  margin-left: 15px;
  margin-right: 15px;
  transition: all .7s;
  cursor: pointer;
}
#gallery .gallery-item .red-hover .loupe {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/white_loupe.svg") center no-repeat;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
#gallery .gallery-item img {
  width: 100%;
  height: auto;
}
#gallery .gallery-item .gallery-item-text {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 991px) {
  #gallery .gallery-item .gallery-item-text {
    max-width: 555px;
  }
}
#gallery .gallery-item .gallery-item-text .gallery-item-text-left {
  float: left;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  transition: all .7s;
}
#gallery .gallery-item .gallery-item-text .gallery-item-text-right {
  float: right;
  padding-right: 30px;
  padding-top: 3px;
  padding-left: 20px;
  border-left: 2px solid white;
  padding-bottom: 3px;
  margin-top: 14px;
  font-size: 15px;
  transition: all .7s;
}
@media (max-width: 1199px) {
  #gallery .gallery-item .gallery-item-text .gallery-item-text-right {
    padding-right: 50px;
  }
}
/*   ======News inside page styles======   */
.page-news-inside h2.page-head {
  margin-bottom: 14px;
}
.page-news-inside .news-content img {
  display: block;
  margin-bottom: 28px;
  width: 100%;
}
.page-news-inside .news-content p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #484848;
}
.page-news-inside .news-inside-text {
  margin-bottom: 36px;
}
.temporary-breadcrumbs {
  color: #9e9f9f;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-bottom: 25px;
}
.moto-sidebar h3 {
  margin-top: 35px;
  color: #484848;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 18px;
  border-bottom: 2px solid #d9dee1;
}
.moto-sidebar .sidebar-item {
  margin-top: 24px;
  margin-bottom: 26px;
  overflow: hidden;
  position: relative;
}
.moto-sidebar .sidebar-item:hover .sidebar-item-header,
.moto-sidebar .sidebar-item:hover .sidebar-item-more {
  color: #a30a0a;
}
.moto-sidebar .sidebar-item .sidebar-item-header {
  color: #212525;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
  transition: all .4s;
}
.moto-sidebar .sidebar-item .sidebar-item-body {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.moto-sidebar .sidebar-item .sidebar-item-more {
  text-transform: uppercase;
  color: #adb8bf;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  transition: all .4s;
}
.moto-sidebar .sidebar-item .sidebar-item-more::after {
  position: absolute;
  width: 100%;
  content: " ";
  display: block;
  background-color: #b4bbc0;
  height: 1px;
  left: 84px;
  top: 9px;
}
.moto-sidebar .sidebar-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.disqus-temp {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #484848;
}
/*   ======Slider styling======   */
.bx-wrapper {
  max-width: 1000px !important;
  width: 90%;
  margin-top: 90px;
}
.bx-viewport {
  min-height: 325px !important;
}
.bx-wrapper blockquote {
  border: none;
}
.cbp-qtcontent {
  text-align: center;
}
.cbp-qtcontent blockquote img {
  margin: auto !important;
  float: none !important;
  border-radius: 50% !important;
  max-width: none !important;
}
.cbp-qtcontent blockquote p {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 36px !important;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
}
.cbp-qtcontent blockquote footer {
  background-color: white;
  text-align: center !important;
}
.cbp-qtcontent blockquote footer::before {
  display: none !important;
}
.cbp-qtcontent blockquote footer a {
  color: #484848 !important;
  font-style: italic;
}
.cbp-qtcontent blockquote footer a:hover {
  color: #484848;
}
/*   ======News aggregator page styles======   */
.page-news .news-item {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
}
.page-news .news-item:hover .news-item-header,
.page-news .news-item:hover .news-item-more {
  color: #a30a0a;
}
.page-news .news-item:hover .red-cover-link .red-hover {
  opacity: 0.8;
}
.page-news .news-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.page-news .news-item .red-cover-link {
  position: relative;
  margin-bottom: 10px;
}
.page-news .news-item .red-cover-link img {
  display: block;
  width: 100%;
}
.page-news .news-item .red-cover-link .red-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(220, 77, 81, 0.88);
  opacity: 0;
  z-index: 99;
  transition: all .7s;
}
.page-news .news-item .news-item-header {
  text-transform: uppercase;
  color: #212525;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
  transition: all .4s;
}
.page-news .news-item .news-item-body {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.page-news .news-item .news-item-more {
  text-transform: uppercase;
  color: #adb8bf;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  transition: all .4s;
}
.page-news .news-item .news-item-more::after {
  position: absolute;
  width: 100%;
  content: " ";
  display: block;
  background-color: #b4bbc0;
  height: 1px;
  left: 84px;
  top: 9px;
}
.page-news .row:nth-child(2) {
  text-align: center;
}
.page-news .navigation.pagination h2 {
  display: none;
}
.page-news .navigation.pagination .nav-links a,
.page-news .navigation.pagination .nav-links span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #adb8bf;
  font-size: 18px;
}
.page-news .navigation.pagination .nav-links .current {
  color: #b21414;
}
.page-news .navigation.pagination .nav-links .next,
.page-news .navigation.pagination .nav-links .prev {
  width: 23px;
  height: 23px;
  border: 1px solid #b4bbc0;
  padding-left: 0;
  padding-right: 0;
  transition: all .4s;
}
.page-news .navigation.pagination .nav-links .next:hover,
.page-news .navigation.pagination .nav-links .prev:hover {
  border-color: #b21414;
  background: url("../img/white_loupe.svg") center no-repeat;
}
.page-news .navigation.pagination .nav-links .next {
  background: url("../img/pagination-gray-right.png") center no-repeat;
}
.page-news .navigation.pagination .nav-links .next:hover {
  background: url("../img/pagination-red-right.png") center no-repeat;
}
.page-news .navigation.pagination .nav-links .prev {
  background: url("../img/pagination-gray-left.png") center no-repeat;
}
.page-news .navigation.pagination .nav-links .prev:hover {
  background: url("../img/pagination-red-left.png") center no-repeat;
}
